
.container {
    width: 100%;
}

.container img {
    width: 100%;
    margin-top: -280px;
    filter: brightness(50%);
}

.text-content {
/*    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../assets/images/greenhouse2.jpg");*/
}

.text-content h2, h3 {
    position: absolute;
    color: #fff;
    font-family: verdana;
}
.text-content h2 {
    top: 200px;
    left: 270px;
    font-size: 40px;
}

.text-content h3 {
    top: 300px;
    left: 330px;
    font-size: 30px;
}

